/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --color1:#d5f0f8;
    --color2:#c5e2f8;
    --color3: #89c8fa;
    --color4: #eafbff;
    --color5: #99e2d0;
    --color6: #fcc0ce;
    --color7: #9356dc;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 24px;
}

h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
}

h3 {
    font-family: "roboto";
    font-size: 18px;
    color: black;
}

h4 {
    font-family: "roboto";
    font-size: 15px;
    color:black;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-weight: 50;
    font-size: 18px;
    color: rgb(170, 169, 169);
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba);
}

.card :active .casecachee {
    display: flex;    
}

.img {
    object-fit: cover;
    max-width: 100%;
}

.card img {
    object-fit:contain;
}

.fa-heart {
    color:black;
    font-size: 20px;
}

.actioncommande {
    height: 50px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 15px 40px 15px 40px;
    box-shadow: 0px 2px 5px gray ;
    background:linear-gradient(#ff79da,#9356dc);
    flex-grow: 1;
    &:hover {
        opacity: 0.9;
    }
}


/****** Header ***********/
.containerheader {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.retour {
    display: flex;
    width: 10%;
    padding-left: 15px;
}

.logo1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    padding-right: 20px;
}

.logo1 img {
    object-fit:cover;
    width: 155px;
    height: 25px;
}


/****** position ***********/



/****** introduction ******/
.cardglobal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -50px;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
}

.photorestocard img {
    object-fit: cover;
    width: 100%;
    height: 275px;
}

/****** menu***********/
.gridmenu {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.casemobile {
    display: flex;
    background-color: var(--color5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    align-items: center;
    position: relative;    
}

.casecachee {
    display: flex;
    background-color:var(--color5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 4px 20px 10px;
    display: none;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 350ms;
}

#macaron {
    display: none;
}

input .macaron + label::before {
    border:1px solid var(--color5);
    font-size: 18px;
}

.fa-circle-check {
    color: unset;
    font-size: 18px;
    filter:var(--color5);

}

.gridentrees {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.gridplats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.titre {
    padding-left: 10px;
    padding-bottom: 7px;
    border-bottom:5px solid var(--color5);
    width: 15%;
}

.griddesserts {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 15px;
}

.entree {
    display: flex;
    flex-direction: row;
}

.cardmenu {
    display: flex;
    width: 100%;
}

/****** restaurants ******/
.nomduresto {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
}

.gridcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 20px 25px 20px;
}

.cardresto {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items:center;   
}

.prix {
    display: flex;
    font-size: 15px;
    padding-right: 10px;
}

.symboleeuro {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
}

.resto-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resto-petittexte {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 5px;
    justify-content: center;
}

.coeurcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5px;
}

.fa-heart:active{
  color:var(--color7);
  fill: #9356dc;
  fill-opacity: var(--color7);
  font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}


/****** footer ***********/
.gridfooter {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color:white;
    font-size: 14px;
    padding-left: 15px;
}

.logofooter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 15px;
}

.logofooter img {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    filter: invert(100%);
    width: 30%;
    height: auto;
}

.liensnav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.containerlogotexte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignlogotexte {
    display: inline-flex;
}

.textefooter1 {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textefooter {
    padding-left: 10px;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}


@media (min-width: 768px) {

}



/******* desktop *******/
@media (min-width: 1024px) {

body {
    max-width: 1420px;
}

.logo1 {
    padding-right: 100px;
}

h1 {
    font-size: 40px;
}

.card:hover .casecachee {
    display: flex;
    transform-origin: 100% 50%;
    transform:scaleX(1);
    transform: translateX(right);
}

/***** header ****/
.containerheader {
    padding-top: 10px;
    padding-bottom: 10px;
}


/***** restaurants ****/
.photorestocard img {
    height: 385px;
}

.entete {
    justify-content: center;
    gap: 40px;
}

.titre {
    width: 10%;
}

.calque {
  background-color: white;
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;

}

.masque {
    background-color: #f6f6f6;
}

.casecachee {
    padding: 20px 20px 20px 20px;
}

.checkbox {
    padding-right: 5px;
}

.cardglobal {
    top: -25px;
}

.gridentrees {
    padding-left: 100px;
    padding-right: 100px;
}

.gridplats {
    padding-left: 100px;
    padding-right: 100px;
} 

.griddesserts {
    padding-left: 100px;
    padding-right: 100px;
}


/****** footer ******/
.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 25px 20px 80px ;

}

.logofooter {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-right: 50px;
}

.logofooter img {
    object-fit: cover;
    width: 125px;
    height: auto;
    filter: invert(100%);
}

.logoblanc {
    padding-bottom: 20px;
}

.liensnav {
    flex-direction:row;
    padding-left: 0;
    margin-right: 50px;
}

.containerlogotexte {
    display: flex;
    padding-right: 10px;
}

.centrage {
    display: flex;
    gap: 8px;
    margin-left: 20px;
}
}



@media (min-width:1440px) {
body {
    margin-left: auto;
    margin-right: auto;
}
    
}

