

@keyframes loadeffect {
 0% {
   transform: translateY(100%);
 }
   100% {
    transform: translateY(0);
   } 
}

@keyframes spin {
    from{
         transform: rotate(0deg);
     }
     to {
         transform : rotate(360deg);  
          
     }
 }


@keyframes slideinrestos {
    0% {
        transform: translateX(5000px);
    }
    25% {
        transform: translateX(2500px);
    }
    50% {
        transform: translateX(1500px);
    }
    75% {
        transform: translateX(750px)
    }
    100% {
        transform: translateX(0);
    }

}




/****** General ***********/
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color1:#d5f0f8;
    --color2:#c5e2f8;
    --color3: #89c8fa;
    --color4: #eafbff;
    --color5: #99e2d0;
    --color6: #ff79da;
    --color7: #9356dc;
}

main {
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: none;
}


h1{
    font-family: "roboto";
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
}

h2 {
    font-family: "roboto";
    font-weight: 600;
}

h3 {
    font-family: "roboto";
    font-size: 16px;
    color: black;
    margin: 0;
}

h4 {
    font-family: "roboto";
    color:black;
    font-weight: 300;
}

h5 {
    font-family: "roboto";
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: rgb(79, 78, 78);
}

p {
    font-family: "roboto";
}

a {
    font-family: "roboto";
}

.card, .cardspecial {
    background-color: white;
    border-radius: 15px;
}

.card img {
    object-fit: cover;
}

.fa-solid.fa-heart {
    font-size: 27px;
    color:transparent;
    background-image:linear-gradient(#ff79da,#9356dc); 
    background-clip: text;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
    animation-fill-mode: both;
}

.fa-regular.fa-heart {
    color: black;
    font-size: 26px;  
    font-weight: 100;
    opacity: 1;
    transition: opacity ease-in-out 300ms;
}

.fa-regular.fa-heart:active {
    opacity: 0;
}

.fa-solid.fa-heart:active {
    font-weight: 900;
    opacity: 1;
}

.fa-mobile-screen-button {
    color: grey;
    font-size: 16px;
}

.fa-list-ul {
    color: grey;
    font-size: 16px;
}

.fa-store {
    color: var(--color7);
    font-weight: 400;
    font-size: 16px;
}


/****** loader ***********/
.loader {
    background-color: #f3f3f3;
    position:relative;
    transform-origin: top;
    transform: translateY(0);
    width: 100%;
    height: 100%;
    animation-name: loadeffect;
    animation-duration: 5000ms;
    
}

.circle {
    transform-origin: top;
    transform: translateY(0);
    border:10px solid #f3f3f3;
    border-top: 10px solid var(--color7);
    border-bottom: 10px solid var(--color6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    animation: spin 1s linear; 
    z-index: 501; 
    opacity:0
    
}


/****** header ***********/
.logo1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo1 img {
    object-fit:cover;
    width: 155px;
    height: 25px;
}

.retour {
    display: flex;
    width: 20%;
}

.geographicposition {
    display: flex;
    justify-content: center;
    background-color: #dfdede;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px; 
    box-shadow: inset 0px 0px 3px rgb(179, 179, 179), 0px 0px 3px rgb(63, 63, 63);    
}

input {
    outline: none;
    border: none;
    background-color: #dfdede ;
}

::placeholder {
    border: none;
    outline: none;
}


/****** positionnement ******/
.slideinresto {
    animation-duration: 1000ms;
    animation-name: slideinrestos;
}

/****** introduction ******/
.gridintroduction {
    background-color: #f6f6f6;
    padding: 20px 15px 30px 15px;
}

.restaurationchoix {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.exploration {
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 5px gray ;
    background:linear-gradient(#ff79da,#9356dc);
    transition:all ease-in-out 300ms ;
}

.exploration:hover {
    box-shadow: 0px 3px 7px gray ;
    opacity: 0.8;
}


/****** fonctionnement ***********/
.fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.titrefonctionnement {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.boutontexte{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding-left: 5px;
}
    
.boutonicone {
    display: flex;
    width:10%
}
    
.boutonnumero {
    display:flex;
    align-items: center;
    width: 5%;
}

.boutonchoix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    gap:20px;
    padding-left: 10px;
}

.boutonrestaurants {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color7);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white; 
    margin-left: -7px;
    position: absolute;
    left: 25px;
}

.menu {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 600;
}

.degustation {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;   
    font-size: 13px;
    font-weight: 600;
}

.choixresto {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px 15px 15px 25px;
    border-radius: 12px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 7px rgb(179, 179, 179);
    font-weight: unset;
    font-weight: 600;
    font-size: 13px;
}

.compomenu {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px 15px 15px 25px;
    border-radius: 12px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 7px rgb(179, 179, 179);   
    font-size: 13px;
    font-weight: 600;
}

.degust {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px 15px 15px 25px;
    border-radius: 12px;  
    border: none;
    background-color: #f6f6f6;  
    box-shadow: 0px 2px 7px rgb(179, 179, 179);
    font-size: 13px;
    font-weight: 600;
}


/****** restaurants ******/
.titresectionresto {
    display: flex;
    width: 100%;
}

.badgerectangle {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color5);
    color: green;
    position: absolute;
    top:15px;
    right: 15px;
}

.gridcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding: 35px 20px 35px 20px;
}

.cardresto {
    margin-top: 15px;
    margin-bottom: 15px;
    position:relative;    
}

.cardresto .card img  {
    width: 100%;
    object-fit: cover;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.card img   {
    object-fit:cover;
}

.cardresto .cardspecial img  {
    width: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.cardspecial img   {
    object-fit:cover;
}

.card-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    gap: 45px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.resto-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resto-petittexte {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 5px;
}

.coeurcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
}

.card1, .card2, .card3, .card4 {
    display: flex;
    flex-direction: column;
}


/****** footer ***********/
.gridfooter {
    display: flex;
    flex-direction: column;
    background-color: #4a4a4a;
    color:white;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 10px;
}

.logofooter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.logofooter img {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    filter: invert(100%);
    width: 30%;
    height: auto;
}

.logoblanc {
    object-fit: cover;
}

.liensnav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 20px;
}

.containerlogotexte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignlogotexte {
    display: inline-flex;
}

.textefooter1 {
    padding-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textefooter {
    padding-left: 10px;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* tablette */
@media (min-width: 768px){

.boutontexte{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding-left: 5px;
}
    
.boutonicone {
    display: flex;
    width:10%
}
    
.boutonnumero {
    display:flex;
    align-items: center;
    width: 5%;
}

.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px 20px 20px ;
}

.logofooter {
    display: flex;
    padding-bottom: 0;
}

.logofooter img {
    object-fit: cover;
    width: 100px;
}

.liensnav {
    flex-direction:row;
    padding-left: 0;
    margin-right: 80px;
    align-items: center;
    gap: 10px;
    padding-bottom: 0;
    margin-top: 20px;
}

.containerlogotexte {
    display: flex;
}

.centrage {
    display: flex;
    gap: 15px;
    margin-left: 40px;  
    align-items: center;
}


}



/* desktop */
@media (min-width: 1024px) {

h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 25px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 13px;
}


/***** header ****/
.logo1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.geographicposition {
    box-shadow: unset;
    padding-left: 65px;
}

.searchbar {
    display: flex;
    gap: 15px;
}


/***** fonctionnement ****/
.titrefonctionnement{
    padding-bottom: 20px;
}

.restaurationchoix {
    margin-bottom: 0;
    margin-top: 25px;
}

.exploration {
    font-size: 13px;
    padding: 10px 10px;
}

.boutonchoix {
    width: 100%;
    height: 50px;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 0;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.fonctionnement{
    margin: 40px 130px 30px 130px;
}

.boutonrestaurants {
    margin-bottom: 0;
}

.boutontexte{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding-left: 5px;
}

.boutonicone {
    width: 10%;
    justify-content: center;
}

.boutonnumero {
    width: 5%;
}

.cercle {
    margin-right: 0;
    position: unset;
    margin-left: -10px;
}

.choixresto {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    justify-content:flex-start;
    flex-wrap: nowrap;
    gap: 10px;
}

.compomenu {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
}

.degust {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;  
    gap: 10px;
}

.menu {
    margin-bottom: 0;
}

.compomenu {
    flex-wrap: nowrap;
    padding: 0;
}

.degustation {
    margin-bottom: 0;
}

.degust {
    padding: 0;
}


/***** restaurants ****/

.fa-regular.fa-heart:hover {
    opacity: 0;
}

.fa-solid.fa-heart:hover {
    font-weight: 900;
    opacity: 1;
}
.restaurantscards {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    gap: 40px;
}

.titresectionresto {
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.gridcards {
    display: flex;
    margin: 50px 0 0px 0;
    padding: 15px 50px 30px 50px; 
}

.cardresto {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.cardresto .card img  {
    width: 100%;
    object-fit: cover;
    object-position: 50% 65%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card img   {
    object-fit:cover;
}

.cardresto .cardspecial img  {
    width: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cardspecial img   {
    object-fit:cover;
}


.groupresto1 {
    width: 100%;
    flex-direction: row;
    display: flex; 
    gap: 80px; 
}

.menilmontant {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.charonne {
    display: flex;
    flex-direction: column;
    width: 50%;    
}

.groupresto2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.citerouge {
    display: flex;
    flex-direction: column;
    width: 50%;  
}

.foliemericourt {
    display: flex;
    flex-direction: column;
    width: 50%;  
}

.resto-text {
    margin-top: 0;
    margin-bottom: 0;
}

/****** footer ******/
.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px 20px 80px ;
}

.logofooter {
    display: flex;
    padding-bottom: 0;
}

.logofooter img {
    object-fit: cover;
    width: 100px;
}

.liensnav {
    flex-direction:row;
    padding-left: 0;
    margin-right: 80px;
    align-items: center;
    gap: 10px;
    padding-bottom: 0;
    margin-top: 20px;
}

.containerlogotexte {
    display: flex;
}

.centrage {
    display: flex;
    gap: 15px;
    margin-left: 40px;  
    align-items: center;
}

}

@media (min-width:1441px) {
* {
    margin: 0;
    padding: 0;
} 

html {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

}
