/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --color1:#d5f0f8;
    --color2:#c5e2f8;
    --color3: #89c8fa;
    --color4: #eafbff;
    --color5: #99e2d0;
    --color6: #ff79da;
    --color7: #9356dc;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: 16px;
    color: black;
}

h4 {
   
    color:rgb(20, 20, 20);
    font-weight: 50;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba);
}

.card img {
    object-fit: cover;
}

.fa-heart {
    color:var(--color7);
    font-size: 40px;
}

.fa-mobile-screen-button {
    color: grey;
}

.fa-list-ul {
    color: grey;
}

.fa-store {
    color: var(--color7);
    font-weight: 400;
}

/****** Header ***********/
.logo1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo1 img {
    object-fit:cover;
    width: 155px;
    height: 25px;
}

.retour {
    display: flex;
    width: 20%;
}

.geographicposition {
    display: flex;
    justify-content: center;
    background-color: #dfdede;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    box-shadow: 2px 0 2px  gray;
    box-shadow: inset 0 1px 5px gray;
}

input {
    outline: none;
    border: none;
    background-color: #dfdede ;
}

::placeholder {
    border: none;
    outline: none;
}


/****** introduction ******/
.gridintroduction {
    background-color: #f6f6f6;
    padding: 20px 15px 30px 15px;
}

h1{
    text-align: center;
    font-size: 22px;
}

h5 {
    text-align: center;
    font-weight: 50;
    font-size: 18px;
    color: rgb(170, 169, 169);
}

.restaurationchoix {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.exploration {
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 2px 5px gray ;
    background:linear-gradient(#ff79da,#9356dc);
}


/****** fonctionnement ***********/
.fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.titrefonctionnement {
  display: flex;
  width: 100%;
}

.boutonchoix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    gap: 20px;
}

.boutonrestaurants {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color7);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white; 
    margin-left: -7px;
}

.menu {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.degustation {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;   
}

.choixresto {
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    gap: 35px;
    padding: 15px 80px 15px 0;
    border-radius: 12px;
    font-size: 14px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 5px gray;
}

.compomenu {
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    gap:35px;
    padding: 15px 80px 15px 0;
    border-radius: 12px;
    font-size: 14px;  
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 5px gray;
}

.degust {
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    gap: 35px;
    padding: 15px 80px 15px 0;
    border-radius: 12px;
    font-size: 14px;   
    border: none;
    background-color: #f6f6f6;  
    box-shadow: 0px 2px 5px grey;
}


/****** restaurants ******/
.titresectionresto {
    display: flex;
    width: 100%;
}

.badgerectangle {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color5);
    color: green;
    position: absolute;
    top:15px;
    right: 15px;
}

.gridcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 20px 25px 20px;
}

.cardresto {
    margin-top: 15px;
    margin-bottom: 15px;
    position:relative;
    
}

.cardresto .card img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.card img {
    object-fit:contain;
}

.card-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    gap: 45px;
    max-width: 100%;
    max-height: 100%;
    position: relative;

}

.resto-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resto-petittexte {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 5px;
}

.coeurcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    padding-right: 30px;
}

.card {
    display: flex;
    flex-direction: column;

}


/****** footer ***********/
.gridfooter {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color:white;
    font-size: 14px;
    padding-left: 15px;
}

.logofooter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.logofooter img {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    filter: invert(100%);
    width: 20%;
    height: auto;
}

.logoblanc {
    object-fit: cover;
}

.liensnav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.containerlogotexte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignlogotexte {
    display: inline-flex;
}

.textefooter1 {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textefooter {
    padding-left: 10px;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* desktop */
@media (min-width: 1024px) {

h1 {
    font-size: 40px;
}


/***** header ****/
.geographicposition {
    box-shadow: unset;
}


/***** fonctionnement ****/
.boutonchoix {
    width: 100%;
    height: 60px;
    flex-wrap: nowrap;
    gap: 30px;
    margin-bottom: 0;
    justify-content: space-between;
    padding-left: 5px;
}

.fonctionnement{
    margin: 30px 140px 30px 140px;
}

.boutonrestaurants {
    margin-bottom: 0;
}

.cercle {
    margin-right: 0;
}

.choixresto {
    padding: 0;
    justify-content: flex-start;
    gap: 20px
}

.compomenu {
    padding: 0;
    justify-content: flex-start;
    gap: 20px
}

.degust {
    padding: 0;
    justify-content: flex-start;
    gap: 20px   
}

.menu {
    margin-bottom: 0;
}

.compomenu {
    padding: 0;
}

.degustation {
    margin-bottom: 0;
}

.degust {
    padding: 0;
}


/***** restaurants ****/
.restaurantscards {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    gap: 50px;
}

.titresectionresto {
    padding-left: 80px;
}

.gridcards {
    display: flex;
    margin: 50px 0 0px 0;
    padding: 15px 60px 30px 60px; 
}

.cardresto {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.groupresto1 {
    width: 100%;
    flex-direction: row;
    display: flex; 
    gap: 100px; 
}

.menilmontant {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.charonne {
    display: flex;
    flex-direction: column;
    width: 50%;    
}

.groupresto2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.citerouge {
    display: flex;
    flex-direction: column;
    width: 50%;  
}

.foliemericourt {
    display: flex;
    flex-direction: column;
    width: 50%;  
}


/****** footer ******/
.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 25px 20px 80px ;

}

.logofooter {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.logofooter img {
    object-fit: cover;
    width: 125px;
    height: auto;
    filter: invert(100%);
}

.logoblanc {
    padding-bottom: 20px;
}

.liensnav {
    flex-direction:row;
    gap: 15px;
    padding-left: 0;
    margin-right: 50px;
}

.containerlogotexte {
    display: flex;
}


}

