/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --color1:#d5f0f8;
    --color2:#c5e2f8;
    --color3: #89c8fa;
    --color4: #eafbff;
    --color5: #99e2d0;
    --color6: #fcc0ce;
    --color7: #9747ff;
}

h3 {
    color: black;
}

h4 {
    color:black;
    font-weight: 100;
}

.card img {
    object-fit: cover;

}

/****** Header ***********/
.logo{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    object-fit:cover;
    width: 155px;
    height: 25px;
}

.geographicposition {
    display: flex;
    justify-content: center;
    background-color: #dfdede;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    padding-left: 50px;
}

input {
    outline: none;
    border: none;
    background-color: #dfdede ;
}
::placeholder {
    border: none;
    outline: none;
}


/****** titre ***********/
.gridintroduction {
    background-color: rgb(249, 246, 246);
    padding-bottom: 30px;
    padding-top: 20px;
}

h1{
    text-align: center;
    font-size: 22px;
}

h2 {
    text-align: center;
    font-weight: 50;
    font-size: 18px;
    color: grey;
}

.restaurationchoix {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.exploration {
    border-radius: 25px;
    background: var(--color7);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 2px 5px black (0, 0, 0, 0,5 );
}


/****** fonctionnement ***********/
.fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
}

.titrefonctionnement {
  display: flex;
  width: 100%;
}

.boutonchoix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.boutonrestaurants {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color7);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white; 
    margin-right: 40px;
    margin-left: 0;
}

.menu {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.degustation {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;   
    margin-bottom: 10px;
}

.choixresto {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 120px 15px 0;
    border-radius: 12px;
    font-size: 14px;
}

.compomenu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 120px 15px 0;
    border-radius: 12px;
    font-size: 14px;  
}

.degust {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 120px 15px 0;
    border-radius: 12px;
    font-size: 14px;     
}


/****** cartes restaurants ***********/
.titresectionresto {
    display: flex;
    width: 100%;
}

.gridcards {
    width: 100%;
    background-color: rgb(249, 246, 246) ;
    padding-bottom: 25px;
    padding-top: 15px;
}

.card {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .card img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/****** footer ***********/
.gridfooter {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color:white;
    font-size: 14px;
}

.logofooter img {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    color: white;
    width: 26%;
    height: 20px;
    filter:invert(white)
}

.logoblanc {
   filter:blur(white);
   color: white;
}

.liensnav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.containerlogotexte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignlogotexte {
    display: inline-flex;
}

.textefooter1 {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textefooter {
    padding-left: 10px;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}