/***** animation ****/

@keyframes slideinentrees {
    0%  {
        transform: translateX(3000px);
}
    50% {
        transform: translateX(1500px);
}
    100% {
        transform: translateX(0);
}
}

@keyframes slideinplats {
    0%  {
        transform: translateX(3000px);
}
    50% {
        transform: translateX(1500px);
}
    100% {
        transform: translateX(0);
}
}

@keyframes slideindesserts {
    0%  {
        transform: translateX(3000px);
}
    50% {
        transform: translateX(1500px);
}
    100% {
        transform: translateX(0);
}
}

/****** General ***********/
* {
    box-sizing: border-box;
}

:root {
    --color1:#d5f0f8;
    --color2:#c5e2f8;
    --color3: #89c8fa;
    --color4: #eafbff;
    --color5: #99e2d0;
    --color6: #ff79da;
    --color7: #9356dc;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 24px;
}

h2 {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    font-family: "roboto";
    font-size: 16px;
    color: black;
}

h4 {
    font-family: "roboto";
    font-size: 13px;
    color:black;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-weight: 50;
    font-size: 18px;
    color: rgb(170, 169, 169);
}

h6 {
    font-family: "roboto";
    font-size: 14px;
}

p {
    font-family: "roboto";
}

a {
    font-family: "roboto";
    padding-top: 5px;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgb(173, 173, 173) ;
}

.card:active .casecachee {
    display: flex;
    transform: scale(1);  
}

.card:active .prix {
    transform: translateX(-50px);  
    margin-left: 40px;
}

.card:active .card-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img {
    object-fit: cover;
    max-width: 100%;
}

.card img {
    object-fit:contain;
}

.fa-regular.fa-heart {
    color:black;
    font-size: 24px; 
    opacity: 1;
    font-weight: 100; 
    transition: all ease-in-out 300ms;   
    z-index: 1;

}

.fa-regular.fa-heart:active {
    color: transparent;
    opacity: 0;   
}

.fa-solid.fa-heart {
    font-size: 24px;
    position: absolute;
    color: transparent;
    opacity: 0;
    background-image: linear-gradient(#ff79da,#9356dc);
    background-clip: text;
    transition: all ease-in-out 300ms;
    z-index: 2;

}

.fa-solid.fa-heart:active {
    opacity: 1;
    font-weight: 900;  
}

.actioncommande {
    height: 50px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 15px 40px 15px 40px;
    box-shadow: 0px 2px 5px gray ;
    background:linear-gradient(#ff79da,#9356dc);
    flex-grow: 1;
    transition:all ease-in-out 300ms ;
}

.actioncommande:hover {
    box-shadow: 0px 3px 7px gray ;
    opacity: 0.8;   
}


/****** Header ***********/
.containerheader {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.retour {
    display: flex;
    width: 10%;
    padding-left: 15px;
}

.logo1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    padding-right: 40px;
}

.logo1 img {
    object-fit:cover;
    width: 155px;
    height: 25px;
}


/****** position ***********/
.calque {
    background-color: white;
    display: flex;
    flex-direction: column;
}
  
  .masque {
      background-color: #f6f6f6;
}


/****** introduction ******/
.cardglobal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -52px;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photorestocard img {
    object-fit: cover;
    width: 100%;
    height: 255px;
}


/****** menu***********/
.gridmenu {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.casemobile {
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    align-items: center;  
}

.casecachee {
    display: flex;
    background-color:var(--color5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 18px 15px 18px;
    transform-origin: right;
    transform:scaleX(0);
    transition: scale ease-in-out 300ms;  
}

.fa-circle-check {
    color: var(--color5);
    font-size: 18px;
    background-color: white;
}

.casecachee i {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color5);
}

.slideinentrees   {
    animation-duration: .7s;
    animation-name: slideinentrees;
}

.gridentrees {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.slideinplats{
    animation-duration: .7s;
    animation-name: slideinplats;  
    animation-delay: 200ms;
}

.gridplats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.titre {
    padding-bottom: 7px;
    border-bottom:5px solid var(--color5);
    width: 45px;
}

.slideindesserts{
    animation-duration: .7s;
    animation-name: slideindesserts;
    animation-delay: 400ms ;
}

.griddesserts {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 15px;
}

.entree {
    display: flex;
    flex-direction: row;
}

.cardmenu {
    display: flex;
    width: 100%;
}

/****** restaurants ******/
.nomduresto {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    text-align: left;
    display: flex;
}

.gridcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 20px 25px 20px;
}

.cardresto {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items:center;   
}

.prix {
    display: flex;
    font-size: 14px;
    position: relative;
    left: 40px;
    transition: all ease-in-out 300ms;  
}

.symboleeuro {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
}

.resto-text {
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resto-petittexte {
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-txt {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
}

.coeurcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}


/****** footer ***********/
.gridfooter {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color:white;
    font-size: 14px;
    padding-left: 15px;
}

.logofooter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 15px;
}

.logofooter img {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    filter: invert(100%);
    width: 110px;
    height: auto;
}

.liensnav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.containerlogotexte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignlogotexte {
    display: inline-flex;
}

.textefooter1 {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textefooter {
    padding-left: 10px;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}



/******* tablette *******/
@media (min-width: 768px) {

.logo1 {
    padding-right: 100px;
}

.fa-heart {
    font-size: 28px;
}

.entete {
    justify-content: center;
    gap: 20px;
}  

.nomduresto {
    margin-top: 30px;
}

.titre {
    width: 48px;
}

.card-txt {
    padding-top: 5px;
    padding-bottom: 5px;
}

.casecachee {
    padding: 18px 18px 18px 18px;
}

.gridentrees {
    padding-left: 100px;
    padding-right: 100px; 
}
    
.gridplats {
    padding-left: 100px;
    padding-right: 100px;
} 
    
.griddesserts {
    padding-left: 100px;
    padding-right: 100px;
}

.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 10px 0px 10px ;
}

.logofooter {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-right: 30px;
    padding-left: 35px;
}

.logofooter img {
    object-fit: cover;
    height: auto;
    filter: invert(100%);
}

.logoblanc {
    padding-bottom: 20px;
}

.liensnav {
    flex-direction:row;
    padding-left: 0;
}

.containerlogotexte {
    display: flex;
    padding-right: 10px;
}

.centrage {
    display: flex;
    gap: 8px;
    margin-left: 30px;
}

}



/******* desktop *******/
@media (min-width: 1024px) {

body {
    max-width: 1420px;
}

.logo1 {
    padding-right: 100px;
}



.card:hover .casecachee{
    display: flex;
    transform: scaleX(1);    
}

.card:hover .prix {
    transform: translateX(-55px) ;
}


.fa-solid.fa-heart:hover {
    opacity: 1;
    font-weight: 900;
}

.fa-regular.fa-heart:hover {
    color: transparent;
    opacity: 0;   
}


/***** header ****/
.containerheader {
    padding-top: 10px;
    padding-bottom: 10px;
}


/***** restaurants ****/
.photorestocard img {
    height: 385px;
}

.fa-regular.fa-heart {
    font-size: 28px;
    opacity: 0.8;
}

.fa-solid.fa-heart {
    font-size: 28px;
}

.entete {
    justify-content: center;
    gap: 40px;
}

.titre {
    width: 40px;
}

.calque {
  background-color: white;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.masque {
    background-color: #f6f6f6;
}

.casecachee i {
    border-radius: 50%;
}

.casecachee {
    box-sizing: content-box;
    padding: 22px 20px 22px 20px;
    transform-origin: right;
    transform:scaleX(0);
    transition: all ease-in-out 300ms ;
}

.checkbox {
    padding-right: 5px;
}

.gridentrees {
    padding-left: 100px;
    padding-right: 100px; 
}

.gridplats {
    padding-left: 100px;
    padding-right: 100px;
} 

.griddesserts {
    padding-left: 100px;
    padding-right: 100px;
}

.prix {
    position: relative;
    left: 45px;
    transition: all ease-in-out 300ms ;
}


/****** footer ******/
.gridfooter {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 25px 0px 80px ;
}

.logofooter {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-right: 50px;
    padding-left: 0;
}



.logoblanc {
    padding-bottom: 20px;
}

.liensnav {
    flex-direction:row;
    padding-left: 0;
    margin-right: 50px;
}

.containerlogotexte {
    display: flex;
    padding-right: 10px;
}

.centrage {
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

}



/******* large desktop *******/
@media (min-width:1440px) {
body {
    margin-left: auto;
    margin-right: auto;
}
    
}

